@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.SelectSeatPage {
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;

}