@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.CustomBtnFull {
    background-color: orangered;
    padding: 1rem 2rem;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    box-shadow: $box-shadow-orangered;
    transition: all $transition-time ease-out;

    &:hover {
        border: 2px solid $color-red;
        box-shadow: none;
    }

    &.w-30 {
        max-width: 30vw;
    }
}