.SelectShowTimePage {
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    &__showTimesList {
        margin-right: 3rem;
        align-self: flex-end;
        width: 90vw;
    }

    &__orderSummary {
        margin-right: 3rem;
        align-self: flex-end;
    }
}