@import './assets/styles/colors';
@import './assets/styles/utils';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    height: 100vh;
    width: 100vw;
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
        color: $color-primary
    }
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: $border-radius-medium;
    // background-color: $color-primary;
    height: 96vh;
    width: 97vw;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px lighten($color-primary-light, 20) inset !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $color-primary;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}