$border-radius-large: 15px;
$border-radius-medium: 10px;
$transition-time: 0.5s;
$margin-top-header: 7rem;
$box-shadow: -8px 5px 13px -4px rgba(0, 0, 0, 0.49);
$box-shadow-light: 5px 6px 15px -2px rgba(0, 0, 0, 0.11);
$box-shadow-white: 0px 0px 15px -2px rgba(255, 255, 255, 0.9);
$box-shadow-orangered: 0px 0px 15px -2px orangered;